 <div class="additional">
          <ul id="menu-main-menu">
            <li class="menu-item"><a href="/">About</a></li>
            <li class="menu-item"><a href="/research">Research</a></li>
            <li class="menu-item"><a href="/portfolio">Portfolio | Works in progress</a></li>     
            <li class="menu-item"><a href="/presentations">Presentations</a></li>        
            <li class="menu-item"><a href="/blog">Blog</a></li>
            <li class="menu-item"><a href="/contact">Contact</a></li>
          </ul>
        </div>
